/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.ng-valid[required], .ng-valid.required {
  border: 1px solid #42A948; /* green */
  /*#42A948*/
}

.ng-invalid:not(form) {
  border: 1px solid #a94442; /* red */
}
